.my-main {
    background-image: url('teal.jpg');
    min-height: 100vh;
    font-size: larger;
}

.form-control {
    font-size: larger;
}

.form-check {
    font-size: larger;
}

.btn {
    font-size: larger;
}
