.my-main {
    background-image: url('teal.jpg');
    min-height: 100vh;
    font-size: larger;
}

.form-control {
    font-size: larger;
}

.form-check {
    font-size: larger;
}

#create-log-button {
    font-size: larger;
}

#log-list {
    max-width: 20rem;
}

.card {
    background-color: aquamarine;
}
